@charset "ISO-8859-1";
*{
	margin: 0;
	padding: 0;
	background-color: peachpuff;
}
h1{
	text-align: center;
	padding-top: 10%;
	text-shadow:3cap;
	color:gray;
}
h2#add{
	text-align: center;
	padding-top: 1%;
}
h2#display{
	text-align: center;
	padding-top: 1%;
}
